:root{
    --bg: black;
    --text: white;
    --bgSoft: gray;
    --textSoft: white;
    --bin: purple;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times, serif;
 }

body{
    background-color: #082a52;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    color:#ffffff;
    font-family: serif;
}

.container{
    background-color: #083152;
    display: flex;
    flex-direction: column;
}

.page-container-top{
    height: 53.5vw;
    width: 100%;
    text-align: center;
}

.page-container-bottom{
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    height: 52vw;
    width: 100%;
}

.img-text {
  position: absolute;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-family: serif;
  top: 16vh;
  width: 50vw;
  height: 50vh;
  font-size: 4vw;
}

.img-text-about {
  position: absolute;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-family: serif;
  top: 10vh;
  width: 50vw;
  height: 50vh;
  font-size: 10vw;
}

.textBox-container{
    padding: 1vw;
    width: 63vw;
    height: 21vw;
    display: flex;
    justify-content: space-between;
}

.textBox-container2{
    padding: 1vw;
    width: 63vw;
    height: 30vw;
    display: flex;
    justify-content: space-between;
}

.footer-cont{
    padding: 10px;
    color:darkgoldenrod;
}