:root{
    --bg: black;
    --text: black;
    --bgSoft: gray;
    --textSoft: rgb(23, 23, 23);
    --bin: red;
}

p{
    color: black;
    font-size:larger;
}

h1{
    color: #fffaf6;
}

h2{
    color: black;
    font-weight: 300;
    font-size: xxx-large;
}

h3{
    color: black;
    font-weight: 300;
    font-size: xx-large;
}

h4{
    color: black;
    font-weight: 300;
    font-size: x-large;
}

body{
    background-color: #08405a;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    background-color: #eef2f6;
    border-radius: 10px;
    color: #fffaf6;
    width: 1536px;
    min-height: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;   
    justify-content: normal;
    align-items: normal;
    align-content: space-evenly;
}

.sub-container{
    margin: 10px;
    background-color: #eef2f6;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.text-container{
    background-color: #fffaf6;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}